<br>
<div class="search-div">
    <button mat-raised-button (click)="create()" color="primary">
        <mat-icon>add</mat-icon>Nova narudzbenica
    </button>
    <br>
    <br>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" color="primary" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="narudzbenicaId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Id</mat-label>
                    <input matInput [formControl]="idFilter">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.narudzbenicaId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ukupanIznos">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="filter">
                    <mat-label>Ukupan iznos</mat-label>
                    <input matInput [formControl]="ukupanIznosFilter">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ukupanIznos}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="datum">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="filter">
                    <mat-label>Datum</mat-label>
                    <input matInput [formControl]="datumFilter">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="kupac">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="filter">
                    <mat-label>Kupac</mat-label>
                    <input matInput [formControl]="kupacFilter">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.kupac.naziv}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="katalog">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="filter">
                    <mat-label>Katalog</mat-label>
                    <input matInput [formControl]="katalogFilter">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.katalog.naziv}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="filter">
                    <mat-label>Status</mat-label>
                    <input matInput [formControl]="statusFilter">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Pregled / Izmena / Brisanje</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" matTooltip="Pregled" (click)="view(row)">
                    <mat-icon>info</mat-icon>
                </button>
                <button mat-icon-button color="primary" matTooltip="Izmena" (click)="edit(row)" *ngIf="priprema(row)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Brisanje" (click)="delete(row)" *ngIf="priprema(row)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
