<form [formGroup]="service.formStavke" class="normal-form">
<h3 style="font-size: 1.15rem; color: grey; font-weight: normal;">Stavke kataloga</h3>
<div class="search-div">
    <div class="row">
        <div class="col-md-8">

            <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Ukucajte vrednost po kojoj pretražujete stavke">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" color="primary">

        <ng-container matColumnDef="redniBroj">
            <mat-header-cell *matHeaderCellDef> Redni broj </mat-header-cell>
            <mat-cell *matCellDef="let element of "> {{element.stavkaKatalogaId.redniBroj}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="naziv">
            <mat-header-cell *matHeaderCellDef> Naziv </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.igracka.naziv}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="stanjeNaZalihama">
            <mat-header-cell *matHeaderCellDef> Stanje </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.igracka.stanjeNaZalihama}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="trenutnaCena">
            <mat-header-cell *matHeaderCellDef> Cena </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.igracka.trenutnaCena}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="pozicija">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.igracka.pozicija}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="opis">
            <mat-header-cell *matHeaderCellDef> Kratak opis </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.igracka.opis}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" matTooltip="Dodaj" (click)="add(row)" [disabled]="service.formStavke.invalid">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-cell>

        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <!-- <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                  
        <!-- <button mat-icon-button *ngIf="!service.viewNarudzbenica" color="primary" matTooltip="Potvrdi" (click)="add(row)"
        [disabled]="service.formStavke.invalid">
            <mat-icon>done</mat-icon>
        </button>  -->
    </div>
    <br>
    <div>
        <mat-form-field>
            <input formControlName="kolicina" matInput placeholder="Kolicina">
            <mat-error>Obavezno polje</mat-error>
        </mat-form-field>
    </div>
   
</form>

